assets/.DS_Store
assets/audio/.DS_Store
assets/audio/Subcategories/.DS_Store
assets/images/.DS_Store
assets/images/categories/.DS_Store
assets/images/icons/.DS_Store
assets/images/subcategories/.DS_Store
locales/.DS_Store
structure/.DS_Store
structure/subcategories/.DS_Store
assets/audio/Subcategories/de/.DS_Store
assets/audio/Subcategories/en/.DS_Store
favicon.ico
test.html
/assets/audio
firebase-config.js
